.top-navbar {
    line-height: 50px;
    background-color: $primary-light-color;
    a {
        color: $white-color;
    }
    .top-nav-link {
        padding: 0 10px;
        border-right: 1px solid $white-color;
    }
    .top-nav-link:last-child {
        border-right: none;
        padding-right: 0;
    }
    .top-nav-link:hover {
        color: $second-color;
    }

}