.second-navbar {
    .router-link-active {
        color: $second-color;
    }
}
.tour-logo {
    height: 100px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
        margin-right: 20px;
        border-radius: 8px;
    }
    .web-title {
        font-size: 28px;
    }
    .web-purpose {
        font-size: 14px;
    }
}
.home-list {
    line-height: 100px;
    font-size: 16px;
    font-weight: 700;
    a {
        color: $second-color;
        margin: 0 20px;   
    }
    a:hover {
        color: $primary-color ;   
    }
}

.top-nav-service {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.search {
    width: 250px;
    height: 38px;
    border-radius: 19px;
}
.contact-phone {
    font-size: 20px;
    font-weight: 700;
}
.service-time {
    font-size: 14px;
}

