/* 重置iview form表单控件 */
label.ivu-form-item-label {
    font-size: 14px;
}
.ivu-form-item-content{
    line-height: 40px;
}
.ivu-form-item {
    margin-bottom: 20px;
}
label.ivu-form-item-label {
    line-height: 20px;
    margin-bottom: 0
}
.ivu-date-picker {
    width: 100%;
}
.ivu-col {
    width: 100%;
}
input.ivu-input {
    height: 40px;
    border-radius: 0
}

.ivu-btn-primary {
    line-height: 30px;
    height: 30px;
    width: 100%;
    background-color: #1abc9c;
    border-color: #1abc9c;
}
