@media (min-width: $screen-md-min) {
    .profile-form {
        width: 40%;
        margin: 0 auto;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    .profile-form {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .profile-form {
        width: 100%;
        margin: 0 auto;
    }

    .ivu-modal {
        width: 100%;
    }
}

@media (max-width: $screen-xs-max) {
    .profile-form {
        width: 100%;
        margin: 0 auto;
    }
    .ivu-modal {
        width: 100%;
    }
}
