.home-travel {
    background-color: $body-background ;
}
.address-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px;
    font-size: 14px;
}
.location-title {
    line-height: 24px;
}
.location-item {
    float: left;
    padding: 0 20px;
    line-height: 24px;
}
.location-item:hover  {
    color: $primary-color;
    cursor: pointer;
}

.travel-list {
    padding: 20px;
    background: $body-background;
    font-size: 14px;
}

.second-filter{
    margin-bottom: 20px;
}
.second-title {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid $four-color;
}
.second-title:hover {
    background: $primary-color ;
    color: $white-color;
    border: 1px solid transparent;
    cursor: pointer;
}
.travel-pic {
    display: block;
    margin: 40px auto 0;
}
.travel-wrapper {
    margin: 0 -15px;
}
.travel-name {
    line-height: 40px;
    vertical-align: middle;
    height: 40px;
    color: $primary-color;
}
.travel-card-inner {
    margin-bottom: 20px;
    border: 1px solid $border-color-input;
}
.travel-card-inner:hover {
    box-shadow: $shadow-base;
    cursor: pointer;
}