.editor-title {
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
}

.trip-box{
    padding: 20px;
    border: 1px solid $border-color-input;
}
.trip-form:last-child {
    border-bottom: 1px solid $border-color-input;
}

@media (min-width: $screen-lg-min) {
    .line-form {
        width: 80%;
        margin: 0 auto;
    }
    // .ivu-form-item {
    //     width: 50%;
    //     float: left;
    // }
    // .width-100 {
    //     width: 100%;
    // }
    // .upload-img-item {
    //     display: block;
    //     float: none;
    // }
}

@media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
    .line-form {
        width: 80%;
        margin: 0 auto;
    }
    // .ivu-form-item {
    //     width: 50%;
    //     float: left;
    // }
    // .width-100 {
    //     width: 100%;
    // }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    .line-form {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
    .line-form {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: $screen-xs-max) {
    .line-form {
        width: 100%;
        margin: 0 auto;
    }
}