.out-tour {
    background-color: $body-background;
}
.hot-recommend, .out-follow-tour, .out-help-tour {
    padding: 20px;
    background-color: $body-background;
}
.hot-title, .help-title, .follow-title {
    margin-bottom: 20px;
    font: 650 20px $font-family ;
    color: $primary-color;
    line-height: 50px;
    border-bottom: 2px solid $price-dark-color;
}

.conutry-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.country-logo {
    border-radius: 8px;
}
.country-name {
    line-height: 48px;
    text-align: center;
}