.user-center-page {
    .custom-card {
        border: 1px solid $border-color-second;
        background-color: $body-background;
    }
    .card-title {
        padding: 0 20px;
        font-size: 16px;
        font-weight: 410;
        line-height: 50px;
        background-color: $body-background;
        border-bottom: 1px solid $border-color-second;
    }
    .card-box {
        padding: 20px;
    }
  
}
