
.user-order-list {
    .order-status-title {
        cursor: pointer;
    }
    .active {
        color: $primary-color;
    }
    .card-title {
        background-color: transparent;
        line-height: 50px;
        height: 50px;
        font-size: 18px;
        color: #00afc7;
        border-bottom: 2px solid $primary-light-color;
    }
    .status-separate {
        padding: 0 10px;
    }
}