.padding-0 {
    padding: 0
}
.margin-between-30 {
    margin: 0 -30px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-right-20 {
    margin-right: 20px;
}
.cursor {
    cursor: pointer;
}
.page-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}