// .custom-footer {
//     background-color: $background-dark;
// }
.footer-list {
    border-bottom: 1px solid $primary-color;
    margin-bottom: 20px;
}
.footer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 150px;
    height: 150px;
    a {
        color: $primary-light-color;
    }
}
.footer-logo {
    border-radius: 50%;
    margin-right: 50px;
}

.bottom-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 37px;
    height: 37px;
    a {
        padding: 0 20px;
        color: $primary-light-color;
    }
    span {
        color: $primary-light-color;        
    }
}
.text-company {
    text-align: center;
    line-height: 37px;
    height: 37px;
    color: $primary-light-color;     
}