// custom-title
.ivu-carousel-item {
    background-color: $background-color-second;
}
.title, .big-title {
    line-height: 50px;
}
.filter-item {
    a, span {
        font-size: 14px;
        color: $primary-color;      
    }
    span {
        padding: 0 10px;
        text-align: center;
    }
}
.big-title {
    font-size: 18px;
}
.reload-more{
    a, i {
        font-size: 14px;
        color: $primary-color;      
    }
    i {
        padding-left: 10px;
    }

}



