// custom-title
.ivu-carousel-item {
    background-color: $primary-color;
}
.title, .big-title {
    line-height: 50px;
}
.filter-item {
    a, span {
        font-size: 14px;
        color: $primary-color;      
    }
    span {
        padding: 0 10px;
        text-align: center;
    }
}




