.line-detail-page {
    .custom-card {
        border: none;
    }
    .line-clause {
        border: 1px solid $four-color;
    }
    .order-status-title {
        margin-right: 20px;
        display: block;
        line-height: 50px;
        height: 50px;
        float: left;
    }
    .order-status-title:hover {
        color: $primary-color;
        cursor: pointer;
        border-bottom: 2px solid transparent;
    }
    .order-status-title.active {
        color: $primary-color;
        border-bottom: 2px solid $point-color;
    }
    .line-carouse {
        .pic-item {
            border: 1px solid transparent;
        }
        .pic-item.active, .pic-item:hover {
            border: 1px solid $point-color;
        }
    }
    .line-content {

    }




    // 游客点评
    .comment-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a {
            color: $white-color;
        }
    }
    .comment-list {
        padding: 15px;
        border: 1px solid $border-color-base;
        .comment-text {
            padding: 20px 0;
            line-height: 24px;
            border-bottom: 1px solid $border-color-base;
        }
        .commnet-footer {
            padding: 10px 0;
        }
    }
}