.travel-manage-carouse {
    .carouse-item, .carouse-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .carouse-image {
        margin-right: 20px;
    }
    .carouse-item {
        padding-bottom: 20px;
        border-bottom: 1px solid $border-color-base;
    }
    .carouse-edit {
        margin-right: 10px;
    }
    .carouse-edit:hover, .carouse-delete:hover {
        color: $link-hover-color;
        cursor: pointer;
    }
}