  .orders {
    .card-item-wrapper {
            border: 1px solid $border-color-light;
    }
    .item-title {
        padding: 20px;
        border-bottom: 1px solid $border-color-light;
        font-size: 14px;
    }
    .order-time {
        padding-right: 10px;
    }
    .card-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

        }
        .tour-item {
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .tour-img {
            margin-right: 20px;
        }
        .tour-title {
            font-size: 14px;
            line-height: 24px;
        }
        .tour-text {
            font-size: 12px;
            line-height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .tour-status, .tour-price {
            line-height: 120px;
            padding: 0 20px;
        }
  }
