.out-tour {
    background-color: $body-background;
}
.hot-recommend, .out-follow-tour, .out-help-tour {
    padding: 20px;
    background-color: $body-background;
    border: 1px solid $four-color;
}
.hot-title, .help-title, .follow-title {
    font: 650 20px $font-family ;
    line-height: 40px;
}

.conutry-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.country-logo {
    border-radius: 8px;
}
.country-name {
    line-height: 48px;
    text-align: center;
}