.user-phone-set {
    .steps {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .step {
        position: relative;
        width: 33.3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $body-background;
    }
    .step::after {
        position: absolute;
        left: 0;
        top: 24%;
        z-index: 99;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: $border-color-light;
    }
    .step:first-child::after{
        width: 50%;
        left: 50%;
    }
    .step:last-child::after {
        width: 50%;
        left: 0;
    }
    .step-cricle {
        position: relative;
        width: 48px;
        height: 48px;
        z-index: 100;
        line-height: 48px;
        text-align: center;
        border: 1px solid $border-color-light;
        background-color: $body-background;
        border-radius: 50%;
    }
    .step-text {
        line-height: 48px;
    }
    .active {
        .step-cricle {
            background-color: $link-hover-color;
            border-color: $link-hover-color;
        }
        .step-text {
            color: $link-hover-color;
        }
    }
    .active::after {
        background-color: $link-hover-color;
    }
    .success {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
    }
    .success-logo {
        i {
            font-size: 40px;
        }
    }
    .success-title {
        font-size: 24px;
        line-height: 36px;
    }
    .success-content {
        font-size: 16px;
        line-height: 36px;    
    }
    .success-button {
        a {
            color: $tooltip-color;
        }
    }

}