.signup {
    background-color: $background-color-base;
}
.signup-wrapper {
    padding: 40px;
    border: 1px solid $border-color-base;
    background-color: $body-background;

}
.signup-form {
    width: 50%;
    margin: 0 auto;
}