.signup-page {
    background-color: $body-background;
    .signup-wrapper {
        padding: 40px;
        background-color: $body-background;
    }
    .signup-form {
        margin: 0 auto;
    }
    .signup-title {
        text-align: center;
        font: 700 16px $font-family;
        color: $second-color; 
    }


    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
        .signup-form {
            width: 100%;
        }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        .signup-form {
            width: 100%;
        }
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-max) {
        .signup-form {
            width: 30%;
        }
    }
    @media (min-width: $screen-lg-min) {
        .signup-form {
            width: 30%;
        }
    }
}
