.page-title {
    border-bottom: 2px solid $primary-color;
    margin-bottom: 20px;
    .big-title {
        font-size: 18px;
        color: $primary-color;
    }
    .reload-more{
        a, i {
            font-size: 14px;
            color: $four-color;      
        }
        i {
            padding-left: 10px;
        }

    }
}