.user-center-page {
    .custom-card {
        border: 1px solid $border-color-light;
        background-color: $body-background;
    }
    .card-title {
        padding: 0 20px;
        font-size: 16px;
        font-weight: 410;
        line-height: 50px;
        background-color: $background-color-second;
        border-bottom: 1px solid $border-color-light;
    }
    .card-box {
        padding: 20px;
    }
    .card-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border: 1px solid $border-color-light;
    }
    .tour-item {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .tour-img {
        margin-right: 20px;
    }
    .tour-title {
        font-size: 14px;
        line-height: 24px;
    }
    .tour-text {
        font-size: 12px;
        line-height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .tour-status, .tour-price {
        line-height: 120px;
        padding: 0 20px;
    }
}
