.user-navbar-page {

    background-color: $body-background ;
}
.user-navbar-wrapper {
    margin: 0 -15px;
}
.nav-list {
    border: 1px solid $four-color;
    background: $body-background;
    color: $primary-color;
    .big-title {
        a {
            font-size: 18px;
            font-weight: 700;
            color: $primary-color;
        }
    }
    li {
        padding-left: 50px;
        font-size: 14px;
        line-height: 40px;
        height: 40px;
        width: 100%;
        border-left: 3px solid transparent;
    }
    .active {
        border-color: $primary-color;
        color: $white-color;
    }
    li:hover {
        cursor: pointer;
        color:$white-color;
    }

}
