// tour card
.tour-card-wrapper {
    margin: 0 -15px;
    .tour-card-inner {
        display: block;
        position: relative;
        margin: 10px 0;
        border: 1px solid $border-color-input;
    }
    .tour-card-inner:hover {
        box-shadow: 0 4px 4px 1px $shadow-color;
        .tour-pic-mask {
            background-color: $mask-color;
            transform: scale(1.1);
        }
        .tour-pic-text {
            display: block;
        }
    }
    .tour-mask-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100% - 88px);
        overflow: hidden;
    }
    .tour-pic-mask {
        transition: background-color .5s ease-in;
        transition: transform .5s ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: $white-color;
    }
    .tour-pic-text {
        display: none;
        padding: 0 20px;
        overflow:hidden;
        text-overflow:ellipsis;
        display:-webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
    }
    .tour-tag {
        position: absolute;
        left: 0;
        top: 0;
    }
    .tour-pic{
        width: 100%;
    }
    .tour-summary, {
        font: 14px $font-family;
        color: $second-color;
    }
    .tour-summary, .tour-info {
        padding: 10px 20px;
        color: $second-color;
    }
    .tour-price {
        font: 400 20px $font-family;
        color: $point-color;
    }
    .tour-comment {
        border-top: 1px solid $four-color; 
        text-align: center;
        height: 88px;
    }
    .comment-btn {
        width: 30%;
        margin: 20px auto;
    }
    .tour-tag {
        font: 400 $font-family;
        padding: 0 6px;
        line-height: 18px;
        background: $button-danger-color;
        color: $white-color;
    }
}
